# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Arquivos do projeto
.classpath
.project

# Arquivos compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Database
*.db
*.sqlite

# Sistema
.DS_Store
Thumbs.db
/target/
